.search-input {
  display: inline-block;
  width: 220px;
}
.search-select {
  display: inline-block;
  width: 140px;
}
.inlineBlock {
  display: inline-block;
  margin-right: 20px;
}
.inlineBlock:last-child {
  margin-right: 0;
}
.addBtn {
  position: absolute;
  top: 15px;
  right: 24px;
  z-index: 10;
}
.indexContent {
  padding: 8px 24px 8px;
}
.resetBtn {
  margin-left: 12px;
}
.operation span {
  margin-left: 10px;
  color: #1890ff;
  cursor: pointer;
}
.operation span:first-child {
  margin-left: 0;
}
.operation span:hover {
  color: #40a9ff;
}