<nz-breadcrumb class="breadCon" nzSeparator=">">
  <nz-breadcrumb-item>文章管理</nz-breadcrumb-item>
  <nz-breadcrumb-item>文章列表</nz-breadcrumb-item>
</nz-breadcrumb>
<nz-content class="indexContent">
  <button class="addBtn" nz-button nzType="primary" routerLink="/admin/articleDetail"><i class="anticon anticon-file-add"></i>新建文章</button>
  <nz-tabset>
    <nz-tab nzTitle="全部"></nz-tab>
    <nz-tab nzTitle="已发布"></nz-tab>
    <nz-tab nzTitle="未发布"></nz-tab>
  </nz-tabset>
  <div>
    <div class="inlineBlock">标题：
      <input nz-input class="search-input" placeholder="请输入文章标题" [(ngModel)]="params.keyWord">
    </div>
    <div class="inlineBlock">分类：
      <nz-select class="search-select" nzPlaceHolder="选择文章分类" [(ngModel)]="params.classification">
        <nz-option nzValue="web" nzLabel="前端"></nz-option>
        <nz-option nzValue="db" nzLabel="数据库"></nz-option>
      </nz-select>
    </div>
    <div class="inlineBlock">标签：
      <nz-select class="search-select" nzPlaceHolder="选择文章标签" [(ngModel)]="params.tag">
        <nz-option nzValue="js" nzLabel="javascript"></nz-option>
        <nz-option nzValue="node" nzLabel="nodeJs"></nz-option>
      </nz-select>
    </div>
    <div class="inlineBlock">日期：
      <nz-range-picker class="search-input" [(ngModel)]="params.date" (ngModelChange)="onChange($event)"></nz-range-picker>
    </div>
    <div class="inlineBlock">
      <button nz-button nzType="primary">筛选</button>
    </div>
  </div>
  <nz-table #articleListTable [nzData]="articleList">
    <thead>
      <tr>
        <th>序号</th>
        <th>标题</th>
        <th>分类</th>
        <th>标签</th>
        <th>状态</th>
        <th>点赞数</th>
        <th>发布时间</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of articleListTable.data; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ data.title }}</td>
        <td>{{ data.classification }}</td>
        <td>{{ data.tag }}</td>
        <td>{{ data.status == 0 ? '未发布' : '已发布' }}</td>
        <td>{{ data.laudNum }}</td>
        <td>{{ data.date | date: "y-MM-dd HH:mm:ss" }}</td>
        <td>编辑</td>
      </tr>
    </tbody>
  </nz-table>
</nz-content>
