.search-input {
  display: inline-block;
  width: 220px;
}
.search-select {
  display: inline-block;
  width: 140px;
}
.inlineBlock {
  display: inline-block;
  margin-right: 20px;
}
.inlineBlock:last-child {
  margin-right: 0;
}
.addBtn {
  position: absolute;
  top: 15px;
  right: 24px;
  z-index: 10;
}
.indexContent {
  padding: 8px 24px 24px;
}
.resetBtn {
  margin-left: 10px;
}