<nz-breadcrumb class="breadCon" nzSeparator=">">
  <nz-breadcrumb-item>文章管理</nz-breadcrumb-item>
  <nz-breadcrumb-item>文章列表</nz-breadcrumb-item>
</nz-breadcrumb>
<nz-content class="indexContent">
  <button class="addBtn" nz-button nzType="primary" routerLink="/dashboard/articleDetail">
    <i nz-icon nzType="file-add" nzTheme="outline"></i>新建文章
  </button>
  <nz-tabset (nzSelectChange)="changTabs($event)">
    <nz-tab nzTitle="全部"></nz-tab>
    <nz-tab nzTitle="已发布"></nz-tab>
    <nz-tab nzTitle="未发布"></nz-tab>
  </nz-tabset>
  <div>
    <div class="inlineBlock">标题：
			<nz-input-group [nzSuffix]="inputClearTpl">
				<input nz-input class="search-input" placeholder="请输入关键词" [(ngModel)]="params.keyWord">
			</nz-input-group>
			<ng-template #inputClearTpl>
				<i 
					nz-icon 
					class="ant-input-clear-icon" 
					nzTheme="fill" 
					nzType="close-circle" 
					*ngIf="params.keyWord" 
					(click)="params.keyWord = ''"
				></i>
			</ng-template>
    </div>
    <div class="inlineBlock">分类：
			<nz-select 
				nzShowSearch 
				class="search-select" 
				nzPlaceHolder="选择文章分类" 
				[(ngModel)]="params.classification"
				nzAllowClear
			>
        <nz-option 
          *ngFor="let item of classificationList" 
          nzValue="{{ item._id }}" 
          nzLabel="{{ item.name }}"
        >
        </nz-option>
      </nz-select>
    </div>
    <div class="inlineBlock">标签：
			<nz-select 
				class="search-select" 
				nzPlaceHolder="选择文章标签" 
				[(ngModel)]="params.tag"
				nzAllowClear
			>
        <nz-option 
          *ngFor="let item of tagList" 
          nzValue="{{ item._id }}" 
          nzLabel="{{ item.name }}"
        >
        </nz-option>
      </nz-select>
    </div>
    <div class="inlineBlock">日期：
			<nz-range-picker 
				class="search-input" 
				[(ngModel)]="params.date" 
				nzShowTime
				[nzSeparator]="'~'"
			></nz-range-picker>
    </div>
    <div class="inlineBlock">
      <button nz-button nzType="primary" (click)="search()">筛选</button>
      <button nz-button nzType="default" class="resetBtn" (click)="reset()">重置</button>
    </div>
  </div>
	<nz-table 
		class="tableContainer"
    #articleListTable 
    [nzData]="articleList" 
    [nzFrontPagination]="false" 
    [nzTotal]="total" 
    [nzPageIndex]="params.page" 
    [nzPageSize]="params.size"
    [nzHideOnSinglePage]="true"
    (nzPageIndexChange)="pageIndexChange($event)"
  >
    <thead>
      <tr>
        <th>序号</th>
        <th>标题</th>
        <th>分类</th>
        <th>标签</th>
        <th>状态</th>
        <th [nzSortOrder]="params.sort" [nzSortFn] (nzSortOrderChange)="sort($event)">阅读数</th>
        <th>{{ params.status === 2 ? '更新时间' : '发布时间' }}</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of articleListTable.data; let i = index">
        <td>{{ i + 1 + (params.page - 1) * params.size }}</td>
        <td>{{ data.title }}</td>
        <td>{{ data.classification.name }}</td>
        <td>
          <nz-tag [nzColor]="'green'" *ngFor="let item of data.tag">{{ item.name }}</nz-tag>
        </td>
        <td>{{ data.status == 2 ? '未发布' : '已发布' }}</td>
        <td>{{ data.readNum }}</td>
        <td>{{ data.updateDate | date: "y-MM-dd HH:mm:ss" }}</td>
        <td class="operation">
          <span 
            nz-popconfirm 
            nzPopconfirmTitle="你确定要{{ data.status == 2 ? '上线' : '下线' }}此文章吗？" 
            (nzOnConfirm)="updateStatus(data._id, data.status)"
          >
            {{ data.status == 2 ? '上线' : '下线' }}
          </span>
          <span (click)="detailArticle(data._id)">编辑</span>
          <span nz-popconfirm nzPopconfirmTitle="你确定要删除此文章吗？" (nzOnConfirm)="deleteArticle(data._id)">删除</span>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-content>
