.article-label {
  width: 52px;
  float: left;
}
.ant-form-item-label {
  padding-left: 0 !important;
}
.ant-form-item-control-wrapper {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.textItem {
  margin-bottom: 0;
  textarea {
    overflow: hidden;
  }
}
.contentWrapDiv {
	position: relative;
}
.text-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 10;
  span {
    color: #1890ff;
    font-size: 12px;
    cursor: pointer;
  }
}
.markdown {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 20px;
  min-height: 300px;
}
.footerBtnCon {
  margin-top: 10px;
  text-align: right;
  button {
    margin-left: 12px;
  }
}
.upload-btn {
  border: 0;
  height: auto;
  padding: 0;
	font-size: 12px;
	margin-right: 15px;
  &:hover {
    text-decoration: underline;
	}
	box-shadow: none;
}

.preWrap {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 25%;
}

:host ::ng-deep .ant-input-affix-wrapper .ant-input-suffix {
  right: 0;
}