<nz-breadcrumb class="breadCon" nzSeparator=">">
  <nz-breadcrumb-item>文章管理</nz-breadcrumb-item>
  <nz-breadcrumb-item><a routerLink="/dashboard/articleList">文章列表</a></nz-breadcrumb-item>
  <nz-breadcrumb-item>{{ articleId ? '编辑文章' : '新建文章' }}</nz-breadcrumb-item>
</nz-breadcrumb>
<nz-content class="indexContent">
  <div *ngIf="validateForm.get('coverImg').value" class="preWrap">
    <p>封面图预览：</p>
    <div><img src="{{ validateForm.get('coverImg').value }}" alt="封面图"></div>
  </div>
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm(validateForm)">
    <nz-form-item>
      <nz-form-label class="article-label" nzRequired>标题</nz-form-label>
      <nz-form-control [nzSpan]="8" [nzErrorTip]="titleErrorTpl">
				<input nz-input formControlName="title" placeholder="填写文章标题">
				<ng-template #titleErrorTpl let-control>
					<ng-container *ngIf="control.hasError('required')">
						请输入文章标题
					</ng-container>
				</ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label class="article-label" nzRequired>分类</nz-form-label>
      <nz-form-control [nzSpan]="8" [nzErrorTip]="classificationErrorTpl">
        <nz-select nzShowSearch formControlName="classification" nzPlaceHolder="选择文章分类">
          <nz-option 
            *ngFor="let item of classificationList" 
            nzValue="{{ item._id }}" 
            nzLabel="{{ item.name }}"
          >
          </nz-option>
				</nz-select>
				<ng-template #classificationErrorTpl let-control>
					<ng-container *ngIf="control.hasError('required')">
						请选择文章分类
					</ng-container>
				</ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label class="article-label" nzRequired>标签</nz-form-label>
      <nz-form-control [nzSpan]="8" [nzErrorTip]="tagErrorTpl">
        <nz-select [nzMaxMultipleCount]="3" nzMode="multiple" formControlName="tag" nzPlaceHolder="选择文章标签">
          <nz-option 
            *ngFor="let item of tagList" 
            nzValue="{{ item._id }}" 
            nzLabel="{{ item.name }}"
          >
          </nz-option>
				</nz-select>
				<ng-template #tagErrorTpl let-control>
					<ng-container *ngIf="control.hasError('required')">
						请选择文章标签
					</ng-container>
				</ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label class="article-label" nzRequired>封面</nz-form-label>
      <nz-form-control [nzSpan]="8" [nzErrorTip]="coverImgErrorTpl">
        <nz-input-group [nzSuffix]="suffixIconButton">
          <input type="text" nz-input formControlName="coverImg" placeholder="填写图片地址">
        </nz-input-group>
        <ng-template #suffixIconButton>
          <nz-upload
						[nzShowUploadList]="false"
						nzAccept="image/*"
            [nzCustomRequest]="coverImgUpload"
            [nzBeforeUpload]="beforeUpload"
          >
            <button type="button" nz-button nzType="primary" [nzSize]="small">
              <i nz-icon nzType="upload" nzTheme="outline"></i>
            </button>
          </nz-upload>
				</ng-template>
				<ng-template #coverImgErrorTpl let-control>
					<ng-container *ngIf="control.hasError('required')">
						请输入图片地址
					</ng-container>
				</ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label class="article-label" nzRequired>导语</nz-form-label>
      <nz-form-control [nzSpan]="24" [nzErrorTip]="leadErrorTpl">
        <textarea formControlName="lead" nz-input [nzAutosize]="{ minRows: 3 }" placeholder="填写文章导语"></textarea>
				<ng-template #leadErrorTpl let-control>
					<ng-container *ngIf="control.hasError('required')">
						请输入文章导语
					</ng-container>
				</ng-template>
      </nz-form-control>
    </nz-form-item>
		<div nz-row [nzGutter]="24" class="contentWrapDiv">
      <div class="text-btn">
				<span *ngIf="!previewState">
          <nz-upload
            [nzShowUploadList]="false"
            [nzCustomRequest]="importFile"
            [nzBeforeUpload]="beforeImportFile"
          >
            <button type="button" class="upload-btn" nz-button>
              <span>导入文件</span>
            </button>
          </nz-upload>
        </span>
        <span *ngIf="!previewState">
          <nz-upload
						[nzShowUploadList]="false"
						nzAccept="image/*"
            [nzCustomRequest]="handleUpload"
            [nzBeforeUpload]="beforeUpload"
          >
            <button type="button" class="upload-btn" nz-button>
              <span>插入图片</span>
            </button>
          </nz-upload>
        </span>
        <span (click)="preview()">{{ previewState ? '编辑' : '预览' }}</span>
      </div>
      <div nz-col [nzSpan]="24">
        <nz-form-item class="textItem">
          <nz-form-label [nzSpan]="24" nzRequired>正文：</nz-form-label>
          <nz-form-control [nzSpan]="24" *ngIf="!previewState" [nzErrorTip]="contentErrorTpl">
            <textarea formControlName="content" nz-input [nzAutosize]="{ minRows: 16 }" placeholder="编写文章内容"></textarea>
						<ng-template #contentErrorTpl let-control>
							<ng-container *ngIf="control.hasError('required')">
								请输入正文
							</ng-container>
						</ng-template>
          </nz-form-control>
        </nz-form-item>
        <div class="markdown" name="markdown" markdown [data]="validateForm.value.content" *ngIf="previewState"></div>
      </div>
    </div>
    <nz-form-item class="textItem" *ngIf="!previewState">
      <nz-form-control class="footerBtnCon" [nzSpan]="24">
        <button nz-button nzType="default" (click)="save()">保存</button>
        <button nz-button nzType="primary">发布</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-content>
