<nz-breadcrumb class="breadCon" nzSeparator=">">
  <nz-breadcrumb-item>文章管理</nz-breadcrumb-item>
  <nz-breadcrumb-item><a routerLink="/admin/articleList">文章列表</a></nz-breadcrumb-item>
  <nz-breadcrumb-item>新建文章</nz-breadcrumb-item>
</nz-breadcrumb>
<nz-content class="indexContent">
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm($event, validateForm)">
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label class="article-label" [nzSpan]="4.5" nzRequired>标题</nz-form-label>
          <nz-form-control [nzSpan]="18">
            <input nz-input formControlName="title" placeholder="填写文章标题">
            <nz-form-explain *ngIf="validateForm.get('title').dirty && validateForm.get('title').errors">
              请输入文章标题
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="6" nzRequired>分类</nz-form-label>
          <nz-form-control [nzSpan]="18">
            <nz-select formControlName="classification" nzPlaceHolder="选择文章分类">
              <nz-option nzValue="male" nzLabel="前端"></nz-option>
              <nz-option nzValue="female" nzLabel="数据库"></nz-option>
            </nz-select>
            <nz-form-explain *ngIf="validateForm.get('classification').dirty && validateForm.get('classification').errors">
              请选择文章分类
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="24">
      <div class="text-btn">
        <span>
          <nz-upload
            [nzShowUploadList]="false"
            [nzCustomRequest]="handleUpload"
          >
            <button type="button" class="upload-btn" nz-button>
              <span>插入图片</span>
            </button>
          </nz-upload>
        </span>
        <span (click)="preview()">{{ previewState ? '编辑' : '预览' }}</span>
      </div>
      <div nz-col [nzSpan]="24">
        <nz-form-item class="textItem">
          <nz-form-label [nzSpan]="24" nzRequired>正文</nz-form-label>
          <nz-form-control [nzSpan]="24" *ngIf="!previewState">
            <textarea formControlName="text" nz-input [nzAutosize]="{ minRows: 18 }" placeholder="编写文章内容"></textarea>
            <nz-form-explain *ngIf="validateForm.get('text').dirty && validateForm.get('text').hasError('required')">
              请输入正文
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <div class="markdown" markdown [data]="validateForm.value.text" *ngIf="previewState"></div>
      </div>
    </div>
    <nz-form-item class="textItem">
      <nz-form-control class="footerBtnCon" [nzSpan]="24">
        <button nz-button nzType="default">保存</button>
        <button nz-button nzType="primary">发布</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-content>
