<nz-breadcrumb class="breadCon" nzSeparator=">">
  <nz-breadcrumb-item>踩坑管理</nz-breadcrumb-item>
  <nz-breadcrumb-item><a routerLink="/dashboard/steppingPitList">踩坑列表</a></nz-breadcrumb-item>
  <nz-breadcrumb-item>{{ id ? '编辑踩坑' : '新建踩坑' }}</nz-breadcrumb-item>
</nz-breadcrumb>
<nz-content class="indexContent">
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm(validateForm)">
    <nz-form-item>
      <nz-form-label class="article-label" nzRequired>标题</nz-form-label>
      <nz-form-control [nzSpan]="8" [nzErrorTip]="titleErrorTpl">
				<input nz-input formControlName="title" placeholder="填写踩坑标题">
				<ng-template #titleErrorTpl let-control>
					<ng-container *ngIf="control.hasError('required')">
						请输入踩坑标题
					</ng-container>
				</ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label class="article-label" nzRequired>版本</nz-form-label>
      <nz-form-control [nzSpan]="8" [nzErrorTip]="versionErrorTpl">
				<input nz-input formControlName="version" placeholder="填写版本">
				<ng-template #versionErrorTpl let-control>
					<ng-container *ngIf="control.hasError('required')">
						请输入版本
					</ng-container>
				</ng-template>
      </nz-form-control>
    </nz-form-item>
    <div nz-row [nzGutter]="24" class="contentWrapDiv">
      <div class="text-btn">
        <span>
          <nz-upload
            [nzData]="{ type: 'description' }"
            [nzShowUploadList]="false"
            [nzCustomRequest]="handleUpload"
            [nzBeforeUpload]="beforeUpload"
          >
            <button type="button" class="upload-btn" nz-button>
              <span>插入图片</span>
            </button>
          </nz-upload>
        </span>
        <span (click)="preview(1)">{{ descriptionStatus ? '编辑' : '预览' }}</span>
      </div>
      <div nz-col [nzSpan]="24">
        <nz-form-item class="textItem">
          <nz-form-label [nzSpan]="24" nzRequired>问题描述：</nz-form-label>
          <nz-form-control [nzSpan]="24" *ngIf="!descriptionStatus" [nzErrorTip]="descriptionErrorTpl">
            <textarea formControlName="description" nz-input [nzAutosize]="{ minRows: 10 }" placeholder="填写问题描述"></textarea>
						<ng-template #descriptionErrorTpl let-control>
							<ng-container *ngIf="control.hasError('required')">
								请输入问题描述
							</ng-container>
						</ng-template>
          </nz-form-control>
        </nz-form-item>
        <div class="markdown" markdown [data]="validateForm.value.description" *ngIf="descriptionStatus"></div>
      </div>
    </div>
    <div nz-row [nzGutter]="24" class="contentWrapDiv">
      <div class="text-btn">
        <span>
          <nz-upload
            [nzData]="{ type: 'solution' }"
            [nzShowUploadList]="false"
            [nzCustomRequest]="handleUpload"
            [nzBeforeUpload]="beforeUpload"
          >
            <button type="button" class="upload-btn" nz-button>
              <span>插入图片</span>
            </button>
          </nz-upload>
        </span>
        <span (click)="preview(2)">{{ solutionStatus ? '编辑' : '预览' }}</span>
      </div>
      <div nz-col [nzSpan]="24">
        <nz-form-item class="textItem">
          <nz-form-label [nzSpan]="24" nzRequired>解决方案：</nz-form-label>
          <nz-form-control [nzSpan]="24" *ngIf="!solutionStatus" [nzErrorTip]="solutionErrorTpl">
            <textarea formControlName="solution" nz-input [nzAutosize]="{ minRows: 16 }" placeholder="填写解决方案"></textarea>
						<ng-template #solutionErrorTpl let-control>
							<ng-container *ngIf="control.hasError('required')">
								请输入解决方案
							</ng-container>
						</ng-template>
          </nz-form-control>
        </nz-form-item>
        <div class="markdown" markdown [data]="validateForm.value.solution" *ngIf="solutionStatus"></div>
      </div>
    </div>
    <nz-form-item class="textItem" *ngIf="!descriptionStatus && !solutionStatus">
      <nz-form-control class="footerBtnCon" [nzSpan]="24">
        <button nz-button nzType="default" (click)="save()">保存</button>
        <button nz-button nzType="primary">发布</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-content>
