<nz-breadcrumb class="breadCon" nzSeparator=">">
  <nz-breadcrumb-item>轮播管理</nz-breadcrumb-item>
  <nz-breadcrumb-item>轮播列表</nz-breadcrumb-item>
</nz-breadcrumb>
<nz-content class="indexContent">
  <button class="addBtn" nz-button nzType="primary" (click)="addBanner()">
    <i nz-icon nzType="picture" nzTheme="outline"></i>新增轮播图
  </button>

  <!-- 新增分类模态框 -->
  <nz-modal 
    [(nzVisible)]="isVisible" 
    nzWidth="460" 
    nzTitle="{{ isEdit ? '编辑轮播图' : '新增轮播图' }}" 
    (nzOnCancel)="modalCancel()" 
    (nzOnOk)="submitForm(validateForm)"
  >
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm(validateForm)">
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzRequired>主标题</nz-form-label>
        <nz-form-control [nzSpan]="18">
          <input nz-input formControlName="mainTitle" placeholder="填写主标题">
          <nz-form-explain *ngIf="validateForm.get('mainTitle').dirty && validateForm.get('mainTitle').errors">
            <ng-container *ngIf="validateForm.get('mainTitle').hasError('required')">
              请输入主标题
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzRequired>副标题</nz-form-label>
        <nz-form-control [nzSpan]="18">
          <input nz-input formControlName="subtitle" placeholder="填写副标题">
          <nz-form-explain *ngIf="validateForm.get('subtitle').dirty && validateForm.get('subtitle').errors">
            <ng-container *ngIf="validateForm.get('subtitle').hasError('required')">
              请输入副标题
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzRequired>图片地址</nz-form-label>
        <nz-form-control [nzSpan]="13">
          <input type="text" nz-input formControlName="imgUrl" placeholder="填写图片地址">
          <nz-form-explain *ngIf="validateForm.get('imgUrl').dirty && validateForm.get('imgUrl').errors">
            <ng-container *ngIf="validateForm.get('imgUrl').hasError('required')">
              请输入图片地址
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
        <nz-form-control class="uploadControl" [nzSpan]="5">
          <nz-upload
            [nzShowUploadList]="false"
            [nzCustomRequest]="handleUpload"
            [nzBeforeUpload]="beforeUpload"
          >
            <button type="button" nz-button nzType="primary">
              <i nz-icon nzType="upload" nzTheme="outline"></i>上传
            </button>
          </nz-upload>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzRequired>顺序编号</nz-form-label>
        <nz-form-control [nzSpan]="18">
          <input nz-input formControlName="order" placeholder="填写顺序编号">
          <nz-form-explain *ngIf="validateForm.get('order').dirty && validateForm.get('order').errors">
            <ng-container *ngIf="validateForm.get('order').hasError('required')">
              请输入顺序编号
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6">是否上播</nz-form-label>
        <nz-form-control [nzSpan]="10">
          <nz-switch formControlName="status"></nz-switch>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-modal>
  <div>
    <div class="inlineBlock">轮播状态：
      <nz-select 
        nzShowSearch 
        [nzAllowClear]="true" 
        class="search-select" 
        nzPlaceHolder="选择轮播状态" 
        [(ngModel)]="params.status"
        (ngModelChange)="getBannerList()"
      >
        <nz-option nzValue="1" nzLabel="已上播"></nz-option>
        <nz-option nzValue="2" nzLabel="未上播"></nz-option>
      </nz-select>
    </div>
  </div>
  <nz-table #bannerTable [nzData]="bannerList">
    <thead>
      <tr>
        <th>序号</th>
        <th>缩略图</th>
        <th>主标题</th>
        <th>副标题</th>
        <th>状态</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of bannerTable.data; let i = index">
        <td>{{ i + 1 }}</td>
        <td><img class="thumbnailImg" src="{{ data.imgUrl }}" alt="轮播图" /></td>
        <td>{{ data.mainTitle }}</td>
        <td>{{ data.subtitle }}</td>
        <td>{{ data.status == 2 ? '未上播' : '已上播' }}</td>
        <td class="operation">
          <span 
            nz-popconfirm 
            nzTitle="你确定要{{ data.status == 2 ? '上播' : '下播' }}此轮播图吗？" 
            (nzOnConfirm)="updateStatus(data._id, data.status)"
          >
            {{ data.status == 2 ? '上播' : '下播' }}
          </span>
          <span (click)="detailBanner(data)">编辑</span>
          <span nz-popconfirm nzTitle="你确定要删除此轮播图吗？" (nzOnConfirm)="deleteBanner(data._id)">删除</span>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-content>