.inlineBlock {
  display: inline-block;
  margin-right: 20px;
  &:last-child {
    margin-right: 0;
  }
}
.search-select {
  display: inline-block;
  width: 140px;
}
.addBtn {
  position: absolute;
  top: 24px;
  right: 24px;
  z-index: 10;
}