<div class="loginPage">
  <div class="loginBox">
    <div class="login-img">
      <img src="./../../assets/images/login-img.png">
    </div>
    <div class="login">
      <div class="login-logo">
        <img src="./../../assets/images/login_logo.png">
      </div>
      <div class="login-name">
        <p>博客后台管理系统</p>
      </div>
      <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm(validateForm)">
        <nz-form-item class="loginFormItem">
          <nz-form-control nzErrorTip="请输入用户名">
            <nz-input-group nzPrefixIcon="user">
              <input type="text" nz-input formControlName="username" placeholder="用户名">
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item class="loginFormItem">
          <nz-form-control nzErrorTip="请输入密码">
            <nz-input-group nzPrefixIcon="lock">
              <input type="password" nz-input formControlName="password" placeholder="密码">
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <button nz-button class="login-form-button" [nzType]="'primary'">登录</button>
      </form>
    </div>
  </div>
</div>
<ng-template #prefixUser><i nz-icon type="user"></i></ng-template>
<ng-template #prefixLock><i nz-icon type="lock"></i></ng-template>