<nz-breadcrumb class="breadCon" nzSeparator=">">
  <nz-breadcrumb-item>分类管理</nz-breadcrumb-item>
  <nz-breadcrumb-item>分类列表</nz-breadcrumb-item>
</nz-breadcrumb>
<nz-content class="indexContent">
  <div class="clearfix">
    分类名称：
    <nz-input-group class="search-input" nzSearch [nzAddOnAfter]="suffixIconButton">
      <input type="text" nz-input placeholder="请输入分类名称" [(ngModel)]="params.keyWord">
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSearch (click)="getClassificationList()"><i nz-icon nzType="search" nzTheme="outline"></i></button>
    </ng-template>
    <button class="addBtn" nz-button nzType="primary" (click)="addClassification()">
      <i nz-icon nzType="switcher" nzTheme="outline"></i>新增分类
    </button>
    <!-- 新增分类模态框 -->
    <nz-modal 
      [(nzVisible)]="isVisible" 
      nzWidth="460" 
      nzTitle="{{ status ? '编辑分类' : '新增分类' }}" 
      (nzOnCancel)="modalCancel()" 
      (nzOnOk)="submitForm(validateForm)"
    >
      <form nz-form [formGroup]="validateForm">
        <nz-form-item>
          <nz-form-label [nzSpan]="6" nzRequired>分类名称</nz-form-label>
          <nz-form-control [nzSpan]="18" [nzErrorTip]="nameErrorTpl">
            <input nz-input formControlName="name" placeholder="填写分类名称">
						<ng-template #nameErrorTpl let-control>
							<ng-container *ngIf="control.hasError('required')">
								请输入分类名称
							</ng-container>
						</ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="6" nzRequired>缩写名</nz-form-label>
          <nz-form-control [nzSpan]="18" [nzErrorTip]="abbreviationNameErrorTpl">
            <input nz-input formControlName="abbreviationName" placeholder="填写缩写名">
						<ng-template #abbreviationNameErrorTpl let-control>
							<ng-container *ngIf="control.hasError('required')">
								请输入缩写名
							</ng-container>
						</ng-template>
          </nz-form-control>
        </nz-form-item>
      </form>
    </nz-modal>
  </div>
	<nz-table 
		class="tableContainer"
    #classificationTable 
    [nzData]="classificationList" 
    [nzHideOnSinglePage]="true"
    [nzPageIndex]="params.page" 
    (nzPageIndexChange)="pageIndexChange($event)"
  >
    <thead>
      <tr>
        <th>序号</th>
        <th>名称</th>
        <th>缩写名</th>
        <th>文章数</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of classificationTable.data; let i = index">
        <td>{{ i + 1 + (params.page - 1) * 10 }}</td>
        <td>{{ data.name }}</td>
        <td>{{ data.abbreviationName }}</td>
        <td>{{ data.articleNum }}</td>
        <td class="operation">
          <span (click)="detailClassification(data)">编辑</span>
          <span nz-popconfirm nzTitle="你确定要删除此分类吗？" (nzOnConfirm)="deleteClassification(data._id)">删除</span>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-content>