<nz-breadcrumb class="breadCon" nzSeparator=">">
  <nz-breadcrumb-item>首页</nz-breadcrumb-item>
</nz-breadcrumb>
<nz-content>
  <div nz-row [nzGutter]="30">
    <div nz-col [nzSpan]="6">
      <nz-card 
        class="indexCard"
        [nzBorderless]="true"
      >
        <div class="cardIconWrap" style="color: #d5e5a3">
          <i nz-icon nzType="user" nzTheme="outline"></i>
        </div>
        <div class="cardContent">
          <p>昨日访问量</p>
          <p>{{ statisticalData.accessTotalDay }}</p>
        </div>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-card 
        class="indexCard"
        [nzBorderless]="true"
      >
        <div class="cardIconWrap" style="color: #F3BB45">
          <i nz-icon nzType="desktop" nzTheme="outline"></i>
        </div>
        <div class="cardContent">
          <p>总访问量</p>
          <p>{{ statisticalData.accessTotal }}</p>
        </div>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-card 
        class="indexCard"
        [nzBorderless]="true"
      >
        <div class="cardIconWrap" style="color: #7AC29A">
          <i nz-icon nzType="comment" nzTheme="outline"></i>
        </div>
        <div class="cardContent">
          <p>昨日评论数</p>
          <p>{{ statisticalData.commentTotal }}</p>
        </div>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-card 
        class="indexCard"
        [nzBorderless]="true"
      >
        <div class="cardIconWrap" style="color: #68B3C8">
          <i nz-icon nzType="file-text" nzTheme="outline"></i>
        </div>
        <div class="cardContent">
          <p>昨日新增文章</p>
          <p>{{ statisticalData.articleTotal }}</p>
        </div>
      </nz-card>
    </div>
  </div>
</nz-content>