<nz-layout class="layout">
  <nz-header class="page-header">
    <div class="logo">
      <img src="../../assets/images/dashboard_logo.png" alt>
    </div>
    <div class="title">后台管理系统</div>
    <div class="header-userpannel">
      <nz-avatar nzSize="large" [nzText]="avatarText | uppercase"></nz-avatar>
      <nz-dropdown class="userProfile">
        <a nz-dropdown>
          {{ username }} <i class="anticon anticon-down"></i>
        </a>
        <ul nz-menu nzSelectable>
          <li nz-menu-item>
            <a><i class="anticon anticon-setting"></i> 个人设置</a>
          </li>
          <li nz-menu-item (click)="logout()">
            <a><i class="anticon anticon-poweroff"></i> 退出登录</a>
          </li>
        </ul>
      </nz-dropdown>
    </div>
    <ul nz-menu [nzTheme]="'light'" [nzMode]="'horizontal'" class="layoutUl">
      <li nz-menu-item>
        <i class="anticon anticon-home index-icon"></i>首页
      </li>
    </ul>
  </nz-header>
  <nz-layout>
    <nz-sider [nzWidth]="220" class="menu" [nzCollapsed]="isCollapsed">
      <div class="collapsed" (click)="toggleCollapsed()">
        <i class="anticon" [class.anticon-left]="isCollapsed" [class.anticon-right]="!isCollapsed"></i>
      </div>
      <ul class="menu-ul" nz-menu [nzMode]="'inline'" [nzTheme]="'light'" [nzInlineCollapsed]="isCollapsed" (nzClick)="menuLight()">
        <li nz-menu-item [nzSelected]="activeIndex == 'index'" routerLink="/dashboard/index">
          <span title>
            <i class="anticon anticon-home"></i>
            <span>首页</span>
          </span>
        </li>
        <li nz-submenu [nzOpen]="activeIndex == 'articleList' || activeIndex == 'articleDetail'">
          <span title>
            <i class="anticon anticon-file-text"></i>
            <span>文章管理</span>
          </span>
          <ul>
            <li nz-menu-item [nzSelected]="activeIndex == 'articleList' || activeIndex == 'articleDetail'" routerLink="/dashboard/articleList">文章列表</li>
          </ul>
        </li>
        <li nz-submenu [nzOpen]="activeIndex == 'classificationList'">
          <span title>
            <i class="anticon anticon-appstore-o"></i>
            <span>分类管理</span>
          </span>
          <ul>
            <li nz-menu-item [nzSelected]="activeIndex == 'classificationList'" routerLink="/dashboard/classificationList">分类列表</li>
          </ul>
        </li>
        <li nz-submenu [nzOpen]="activeIndex == 'tagList'">
          <span title>
            <i class="anticon anticon-tags-o"></i>
            <span>标签管理</span>
          </span>
          <ul>
            <li nz-menu-item [nzSelected]="activeIndex == 'tagList'" routerLink="/dashboard/tagList">标签列表</li>
          </ul>
        </li>
        <li nz-submenu [nzOpen]="activeIndex == 'bannerList'">
          <span title>
            <i class="anticon anticon-picture"></i>
            <span>轮播管理</span>
          </span>
          <ul>
            <li nz-menu-item [nzSelected]="activeIndex == 'bannerList'" routerLink="/dashboard/bannerList">轮播列表</li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout class="content-layout">
      <router-outlet></router-outlet>
      <nz-footer class="copyright">Copyright © 2018 Tam Qin. 版权所有 <a href="http://www.miitbeian.gov.cn/" target="_blank">粤ICP备18152109号</a></nz-footer>
    </nz-layout>
  </nz-layout>
</nz-layout>
