<nz-layout class="layout">
  <nz-header style="background: #002140">
    <div class="logo">
      <img src="" alt>
    </div>
    <div class="header-userpannel">
      <nz-avatar nzSize="large" nzText="Q"></nz-avatar>
      <nz-dropdown class="userProfile">
        <a nz-dropdown>
          管理员 <i class="anticon anticon-down"></i>
        </a>
        <ul nz-menu nzSelectable>
          <li nz-menu-item>
            <a><i class="anticon anticon-setting"></i> 个人设置</a>
          </li>
          <li nz-menu-item>
            <a routerLink="/login"><i class="anticon anticon-poweroff"></i> 退出登录</a>
          </li>
        </ul>
      </nz-dropdown>
    </div>
    <ul nz-menu [nzTheme]="'light'" [nzMode]="'horizontal'" class="layoutUl">
      <li nz-menu-item>
        <i class="anticon anticon-home" style="margin-right: 8px"></i>首页
      </li>
    </ul>
  </nz-header>
  <nz-layout>
    <nz-sider [nzCollapsible]="true" [nzWidth]="200" style="background:#fff">
      <ul nz-menu [nzMode]="'inline'" style="height:100%">
        <li nz-submenu>
          <span title><i class="anticon anticon-user"></i>subnav 1</span>
          <ul>
            <li nz-menu-item>option1</li>
            <li nz-menu-item>option2</li>
            <li nz-menu-item>option3</li>
            <li nz-menu-item>option4</li>
          </ul>
        </li>
        <li nz-submenu>
          <span title><i class="anticon anticon-laptop"></i>subnav 2</span>
          <ul>
            <li nz-menu-item>option5</li>
            <li nz-menu-item>option6</li>
            <li nz-menu-item>option7</li>
            <li nz-menu-item>option8</li>
          </ul>
        </li>
        <li nz-submenu>
          <span title><i class="anticon anticon-notification"></i>subnav 3</span>
          <ul>
            <li nz-menu-item>option9</li>
            <li nz-menu-item>option10</li>
            <li nz-menu-item>option11</li>
            <li nz-menu-item>option12</li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout style="padding:0 24px 24px">
      <nz-breadcrumb style="margin:16px 0;">
        <nz-breadcrumb-item>Home</nz-breadcrumb-item>
        <nz-breadcrumb-item>List</nz-breadcrumb-item>
        <nz-breadcrumb-item>App</nz-breadcrumb-item>
      </nz-breadcrumb>
      <nz-content style="background:#fff; padding: 24px; min-height: 280px;">
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
