.logo {
  width: 120px;
  height: 31px;
  background: rgba(255,255,255,.2);
  margin: 16px 28px 16px 0;
  float: left;
}
.layoutUl {
  line-height: 64px; 
  float: right;
  background: transparent;
  color: #fff;
  border-bottom: 0;
}
.layoutUl > .ant-menu-item {
  border-bottom: 0;
}
.layoutUl > .ant-menu-item:hover,
.layoutUl > .ant-menu-item:active {
  border-bottom: 0;
  color: #1890ff;
}
.layoutUl > .ant-menu-item-selected:hover {
  color: #1890ff;
}
.layoutUl > .ant-menu-item-selected {
  color: #fff;
}
.header-userpannel {
  float: right;
  display: flex;
  align-items: center;
  margin-left: 12px;
  cursor: pointer;
}
.header-userpannel > .ant-avatar {
  color: #fff;
  background: #1890ff;
}
.userProfile {
  margin-left: 12px;
}
.userProfile .ant-dropdown-link {
  color: #fff;
}
.userProfile .ant-dropdown-link:hover {
  color: #1890ff;
}