.layout {
  height: 100%;
  overflow: hidden;
}
.logo {
  width: 120px;
  height: 31px;
  background: rgba(255,255,255,.2);
  margin: 16px 28px 16px 0;
  float: left;
}
.page-header {
  background: #002140;
}
.index-icon {
  margin-right: 8px;
}
.layoutUl {
  line-height: 64px; 
  float: right;
  background: transparent;
  color: #fff;
  border-bottom: 0;
}
.layoutUl > .ant-menu-item {
  border-bottom: 0;
}
.layoutUl > .ant-menu-item:focus {
  outline: 0
}
.layoutUl > .ant-menu-item:hover,
.layoutUl > .ant-menu-item:active {
  border-bottom: 0;
  color: #1890ff;
}
.layoutUl > .ant-menu-item-selected:hover {
  color: #1890ff;
}
.layoutUl > .ant-menu-item-selected {
  color: #fff;
}
.header-userpannel {
  float: right;
  display: flex;
  align-items: center;
  margin-left: 12px;
  cursor: pointer;
}
.header-userpannel > .ant-avatar {
  color: #fff;
  background: #87d068;
}
.userProfile {
  margin-left: 12px;
}
.userProfile .ant-dropdown-link {
  color: #fff;
}
.userProfile .ant-dropdown-link:hover {
  color: #1890ff;
}
.menu {
  background: #fff;
}
.menu-ul {
  height: calc(100% - 60px);
  border-right: 0;
}
.collapsed {
  width: 100%;
  margin: 20px 0;
  text-align: center;
  font-weight: 700;
  color: #1890ff;
  cursor: pointer;
}
.content-layout {
  padding: 0 24px;
}
.indexContent {
  background: #fff; 
  padding: 24px; 
  min-height: 100px;
}
.breadCon {
  margin: 16px 0;
}
.copyright {
  width: 100%;
  padding: 15px 50px;
  text-align: center;
}