<nz-layout class="layout">
  <nz-header class="page-header">
    <div class="logo">
      <img src="./../../assets/images/login_logo.png" alt />
    </div>
    <div class="title">博客后台管理系统</div>
    <div class="header-userpannel">
			<a nz-dropdown [nzDropdownMenu]="menu" class="userProfile">
				<i nz-icon class="index-icon" nzType="user" nzTheme="outline"></i> 超级管理员 
				<i nz-icon nzType="down" nzTheme="outline"></i>
			</a>
			<nz-dropdown-menu #menu="nzDropdownMenu">
				<ul nz-menu nzSelectable>
					<li nz-menu-item>
						<a><i nz-icon nzType="setting" nzTheme="outline"></i> 个人设置</a>
					</li>
					<li nz-menu-item (click)="logout()">
						<a><i nz-icon nzType="poweroff" nzTheme="outline"></i> 退出登录</a>
					</li>
				</ul>
			</nz-dropdown-menu>
    </div>
    <ul nz-menu [nzTheme]="'light'" [nzMode]="'horizontal'" class="layoutUl">
      <li nz-menu-item routerLink="/dashboard/index">
        <i nz-icon class="index-icon" nzType="home" nzTheme="outline"></i>首页
      </li>
    </ul>
  </nz-header>
  <nz-layout>
    <nz-sider [nzWidth]="220" class="menu" [nzCollapsed]="isCollapsed">
      <div class="collapsed" (click)="toggleCollapsed()">
        <i nz-icon nzType="{{ isCollapsed ? 'left' : 'right' }}" nzTheme="outline"></i>
      </div>
      <ul 
        class="menu-ul" 
        nz-menu 
        [nzMode]="'inline'" 
        [nzTheme]="'light'" 
        [nzInlineCollapsed]="isCollapsed" 
        (nzClick)="menuLight()"
      >
        <li 
          nz-menu-item 
          [nzSelected]="activeIndex === 'index'"
          routerLink="/dashboard/index"
        >
          <span title>
            <i nz-icon nzType="home" nzTheme="outline"></i>
            <span>首页</span>
          </span>
        </li>
        <li 
          nz-submenu 
          [nzOpen]="activeIndex === 'articleList' || activeIndex === 'articleDetail' || activeIndex === 'commentList'"
        >
          <span title>
            <i nz-icon nzType="file-text" nzTheme="outline"></i>
            <span>文章管理</span>
          </span>
          <ul>
						<li nz-menu-item [nzSelected]="activeIndex === 'articleList' || activeIndex === 'articleDetail'" routerLink="/dashboard/articleList">文章列表</li>
						<li nz-menu-item [nzSelected]="activeIndex === 'commentList'" routerLink="/dashboard/commentList">评论列表</li>
          </ul>
        </li>
        <li 
          nz-submenu 
          [nzOpen]="activeIndex === 'photographyList'"
        >
          <span title>
            <i nz-icon nzType="picture" nzTheme="outline"></i>
            <span>摄影管理</span>
          </span>
          <ul>
            <li nz-menu-item [nzSelected]="activeIndex === 'photographyList'" routerLink="/dashboard/photographyList">照片列表</li>
          </ul>
        </li>
        <li 
          nz-submenu 
          [nzOpen]="activeIndex === 'classificationList' || activeIndex === 'tagList' || activeIndex === 'bannerList'"
        >
          <span title>
            <i nz-icon nzType="block" nzTheme="outline"></i>
            <span>其他管理</span>
          </span>
          <ul>
            <li nz-menu-item [nzSelected]="activeIndex === 'classificationList'" routerLink="/dashboard/classificationList">分类管理</li>
            <li nz-menu-item [nzSelected]="activeIndex === 'tagList'" routerLink="/dashboard/tagList">标签管理</li>
            <li nz-menu-item [nzSelected]="activeIndex === 'bannerList'" routerLink="/dashboard/bannerList">轮播管理</li>
          </ul>
        </li>
        <li 
          nz-submenu 
          [nzOpen]="activeIndex === 'myInfo'"
        >
          <span title>
            <i nz-icon nzType="idcard" nzTheme="outline"></i>
            <span>个人设置</span>
          </span>
          <ul>
            <li nz-menu-item [nzSelected]="activeIndex === 'myInfo'" routerLink="/dashboard/myInfo">个人信息</li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout class="content-layout">
      <router-outlet></router-outlet>
      <nz-footer class="copyright">Copyright © 2020 qintengbo.com. 版权所有 <a href="http://www.beian.miit.gov.cn" target="_blank">粤ICP备18152109号</a></nz-footer>
    </nz-layout>
  </nz-layout>
</nz-layout>
