/* global styles */
* { 
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}
body {
	font-family: 'Microsoft YaHei', Arial, sans-serif;
	font-size: 14px;
	overflow-x: hidden;
}
li, p, div, span:focus {
	outline: 0;
}
/* clear float */
.clearfix:before,
.clearfix:after {
	content: '';
	display: table;
}
.clearfix:after {
	clear: both;
}